<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {{ site.title | escape }}
          </li>
          <li>
            <a href="click:the.address.will.be.decrypted.by.javascript" onclick='openMailer(this);'>E-Mail</a> |
            <a href="click:the.address.will.be.decrypted.by.javascript" onclick='openOpenPGP(this);' target=_blank>PGP</a> |
            <a href="https://github.com/weliveindetail">GitHub</a> |
            <a href="https://reviews.llvm.org/p/sgraenitz/">LLVM Reviews</a> |
            <a href="https://twitter.com/weliveindetail">Twitter</a> |
            <a href="https://www.linkedin.com/in/stefan-gr%C3%A4nitz-254298113/">LinkedIn</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Sporadic details on compilers, code and tooling from the world of LLVM</p>
      </div>
    </div>

  </div>

</footer>

<script language="JavaScript" type="text/javascript">
  $(function() {
    return $("h2, h3, h4, h5, h6").each(function(i, el) {
      var $el, icon, id;
      $el = $(el);
      id = $el.attr('id');
      icon = '<i class="fa fa-link"></i>';
      if (id) {
        return $el.append($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
      }
    });
  });
</script>

