---
layout: default
---

<style>
  ul.post-list h2 {
    margin-bottom: 3px;
  }
  ul.post-list p {
    color: #111;
    padding-bottom: 15px;
  }
</style>

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.unlisted %}
        <!-- This is only a forward to keep an old permalink -->
      {% else %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          {% if post.description %}
          <p>
            {{ post.description }}
          </p>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
