---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.updated %}
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        (Updated: {{ page.updated | date: date_format }})
      {% endif %}
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
      {% if page.comments %}
        • <a href="#comments" onclick="loadComments()">Comments</a>
      {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <script language="JavaScript" type="text/javascript">
    var disqus_loaded = false;

    var disqus_config = function () {
      this.page.url = "http://weliveindetail.github.io{{ site.baseurl }}{{ page.url }}";
      this.page.identifier = "{{ page.url }}";
    };

    function loadComments() {
      if (!disqus_loaded) {
        disqus_loaded = true;
        $("#comments").html(
          "<div id='disqus_thread'></div>" + 
          "<script>" + 
          "  (function() {" + 
          "    var d = document, s = d.createElement('script');" + 
          "    s.src = 'https://http-weliveindetail-github-io-blog.disqus.com/embed.js';" + 
          "    s.setAttribute('data-timestamp', +new Date());" + 
          "    (d.head || d.body).appendChild(s);" + 
          "})();" + 
          "<\/script>" + 
          "<noscript>Please enable JavaScript to view comments.</noscript>"
        );
      }
    }
  </script>

  {% if page.comments %}
    <div id="comments">
      <a id="load_comments" href="#comments" onclick="loadComments()"></a>
    </div>
  {% endif %}
</article>
